<table ng-table="findFriendsTable" show-filter="true" class="table">
  <tr ng-repeat="user in $data">
    <td data-title="'First name'" filter="{firstName: 'text'}">
      {{ user.firstName }}
    </td>
    <td data-title="'Last name'" filter="{lastName: 'text'}">
    	{{ user.lastName }}
    </td>
    <td filter="{showFriends: 'checkbox'}">
    	STATUS
    </td>
    <td filter="{showInvited: 'checkbox'}">
    	<button class="btn btn-primary">Invite</button>
    </td>
  </tr>
</table>